/* Sidebar */
.admin .sidebar-brand {
    border-bottom: 3px solid white;
}

.admin .nav-item span,
.admin .nav-item i {
    font-size: 16px !important;
}

.admin .nav-item a:hover {
    background-color: white;
}

.admin .nav-item a:hover span,
.admin .nav-item a:hover i {
    color: var(--black) !important;
}

/* End sidebar */


/* Topbar */
.admin .topbar {
    border-left: 3px solid white;
}

.admin .topbar button {
    color: white;
}

.admin .topbar button:hover,
.admin .topbar button:active {
    color: var(--green);
}

.admin .topbar button:focus-visible {
    box-shadow: none;
}

/* End topbar */

/* Body */
.wx2 {
    width: 95%;
}

.card2 {
    border: 1px solid;
    border-radius: 10px;
    min-height: 150px;
}


.bdblack {
    border-color: var(--black);
}

.alert {
    padding: .5rem .75rem;
}

.alert-secondary {
    border-color: #788880 !important;
}

.alert-primary {
    border-color: #98B6D7 !important;
}

table .alert-primary:hover {
    background-color: #B6D4FE;
    transition: .2s linear;
}

.alert-warning {
    border-color: #E1CE97 !important;
}

table .alert-warning:hover {
    color: #66511a !important;
    transition: .2s linear;
    background-color: #F1DEA7;
}

.alert-danger {
    border-color: #D7A4A9 !important;
}

table .alert-danger:hover {
    background-color: #F5C2C7;
    transition: .2s linear;
    color: #60201a;
}

.alert-success {
    border-color: #9CBDAE !important;
}

table .alert-success:hover {
    color: #0b4d35 !important;
    transition: .2s linear;
    background-color: #8DCFB7;

}

table th,
table td {
    color: var(--black);
}

.table-responsive label {
    color: var(--black) !important;
}

/* End body */


/* ================ Responsive ================ */

/* Mobile */
@media only screen and (min-width: 576px) {
    .admin .topbar h6 {
        display: block !important;
    }
}
