/* Hero */
.beranda .hero {
    height: 100vh;
    max-height: calc(100vh - 76px);
    background-color: var(--green);
}

.beranda .hero .body {
    width: 90%;
}

.beranda .hero .content {
    width: fit-content;
}

.beranda .hero h1 {
    font-size: 24px;
    line-height: 2rem;
}

.beranda .hero svg {
    font-size: 28px !important;
}

.beranda .second__image {
    width: 100%;
}

.beranda .second__image img {
    max-height: 230px;
    object-fit: contain;
}

/* End hero */

/* Layanan */
.layanan>div:first-child {
    width: fit-content;
}

/* End layanan */

/* ================ Responsive ================ */
/* Mobile */
@media only screen and (min-width: 576px) {

    .layanan {
        width: 75%;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) {
    .beranda .btn__green:hover {
        background-color: #005F28;
        box-shadow: rgb(3, 115, 60, .5) 0px 4px 8px;
        border-color: var(--green);
    }

    .layanan {
        width: 60%;
    }
}

/* Large */
@media only screen and (min-width: 992px) {
    .beranda .hero {
        display: flex !important;
    }

    .beranda .body,
    .beranda .image {
        width: 50% !important;
    }

    .beranda .body .second__image {
        display: none;
    }

    .beranda .content {
        padding-left: 27%;
    }

    .beranda .hero h1 {
        font-size: 40px;
        line-height: 3.5rem;
    }

    .beranda .hero .image {
        display: block !important;
    }

    .layanan {
        width: 50%;
    }
}

/* Desktop */
@media only screen and (min-width: 1200px) {}
