.nomor {
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--green);
}

.nomor p {
    font-size: 12px;
}

.informasi h6 {
    line-height: 1.5rem;
}

/* Tablet */
@media only screen and (min-width: 768px) {
    .nomor {
        min-width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: var(--green);
    }

    .nomor p {
        font-size: 14px;
    }
}
