.login .content,
.login .image {
    width: 100%;
    height: 100vh;
}

.login .content {
    background-color: var(--green);
}

.login .brand .logo {
    width: 50px;
}

.login input {
    background-color: unset !important;
    color: white !important;
}

.login input:focus {
    border-color: white !important;
}

.login .image {
    background-color: var(--green);
}

.login .image div:first-child {
    right: 0;
    bottom: 20%;
}

.login .image img {
    width: 100%;
}

.login .image .title h5 {
    width: 70%;
    line-height: 1.5rem;
}

.login .image span {
    width: 15px;
    height: 15px;
    background-color: var(--light);
    border-radius: 50%;
}

/* ================ Responsive ================ */
/* Large */
@media only screen and (min-width: 992px) {
    .login {
        display: flex;
    }

    .login .content {
        background-color: white;
    }

    .login .content .container {
        width: 65%;
    }

    .login .content .title h5 {
        color: var(--grey);
    }

    .login .content .btn__green {
        background-color: var(--green);
        color: white;
    }

    .login .brand h5 {
        color: var(--black) !important;
    }

    .login label {
        color: var(--black) !important;
    }

    .login input {
        background-color: unset !important;
        color: var(--black) !important;
        border-color: var(--grey) !important;
    }

    .login input:focus {
        border-color: var(--black) !important;
    }

    .login .title h4 {
        color: var(--black) !important;
    }

    .login>div:last-child {
        display: flex !important;
    }

    .login .image {
        display: block;
    }
}
