@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,700&display=swap');

:root {
    --green: #03733C;
    --dark-green: #0A6932;
    --black: #282828;
    --grey: #788880;
    --light: #d1d1d1;
}

body {
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

label {
    font-size: 16px;
}

.wx {
    width: 90%;
}

.w90 {
    width: 90%;
}

.mt2 {
    margin-top: 2.5rem;
}

/* Table */
.table__container {
    border: 1px solid var(--green);
    border-radius: 10px;
    padding: 1.5rem 2.5rem;
}

#laporanKegiatan thead tr th {
    font-weight: bold;
}

table thead tr th:nth-child(4),
table tbody tr td:nth-child(4) {
    text-align: center;
}

#laporanKegiatan_paginate .paginate_button {
    border-radius: 50%;
}

#laporanKegiatan_paginate .paginate_button.current:hover {
    background-color: var(--green) !important;
    border-color: white;
    color: white !important;
    transition: .3s;
}

/* End table */

/* Color */
.green {
    color: var(--green);
}

.black {
    color: var(--black);
}

.grey {
    color: var(--grey);
}

.light {
    color: var(--light);
}

/* End color */

/* Font weight */
.fwlight {
    font-weight: 300;
}

.fwnormal {
    font-weight: 400;
}

.fwsemi {
    font-weight: 600;
}

/* End font weight */

.bggreen {
    background-color: var(--green);
}

/* Button */
.btn__green {
    background-color: white;
    border: 1px solid white;
    color: var(--black);
    font-weight: bold;
}

.btn__green:hover {
    background-color: white;
    color: var(--black);
    box-shadow: rgb(3, 115, 60, .5) 0px 4px 8px;
    border-color: var(--green);
}

.btn__green2 {
    background-color: var(--green);
    border-color: var(--dark-green);
}

.btn__green2:hover {
    background-color: var(--dark-green);
    border-color: var(--dark-green);
    box-shadow: rgb(3, 115, 60, .5) 0px 4px 8px;
}

.btn__delete {
    color: #DC3545;
    border: none;
}

/* End button */

/* Form */
form input:focus {
    box-shadow: none !important;
    border: 1px solid var(--green) !important;
    transition: .8s;
}

/* End form */

/* Navbar */
nav {
    background-color: var(--green);
}

nav .logo {
    width: 50px;
}

nav .nav-item a {
    color: var(--light);
}

nav .nav-item a:hover {
    color: white;
}

nav .active {
    color: white !important;
}

nav .dropdown button {
    background-color: unset !important;
    border: none !important;
    color: var(--light);
}

nav button {
    border-color: white !important;
}

nav button:focus {
    border-color: white;
    box-shadow: none !important;
}

nav button path {
    color: white;
}

/* End navbar */

/* Header */
.header span {
    width: 30px;
    height: 2.5px;
    background-color: var(--green);
}

/* End header */

/* Footer */
footer {
    position: sticky;
    top: 100%;
}

/* End footer */

/* ================ Responsive ================ */

/* Mobile */
@media only screen and (min-width: 576px) {
    nav>div:first-child {
        width: 75% !important;
    }

    .navbar-brand h5 {
        display: inline !important;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }

    h6 {
        font-size: 16px;
    }

    .wx {
        width: 60%;
    }
}

/* Desktop */
@media only screen and (min-width: 1200px) {
    nav .nav-item a {
        padding: .5rem 2rem !important;

    }
}
