@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,700&display=swap');

:root {
    --green: #03733C;
    --dark-green: #0A6932;
    --black: #282828;
    --grey: #788880;
    --light: #d1d1d1;
}

body {
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

label {
    font-size: 16px;
}

.wx {
    width: 90%;
}

.w90 {
    width: 90%;
}

.dropify__wrapper {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23788880FF' stroke-width='2' stroke-dasharray='10' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
    border-radius: 10px;
    padding: .25rem;
}

.mt1 {
    margin-top: 2rem;
}

.mt2 {
    margin-top: 2.5rem;
}

.dropify {
    border-radius: 10px !important;
}

/* Color */
.green {
    color: var(--green);
}

.black {
    color: var(--black);
}

.grey {
    color: var(--grey);
}

.light {
    color: var(--light);
}

/* End color */

/* Font weight */
.fwlight {
    font-weight: 300;
}

.fwnormal {
    font-weight: 400;
}

.fwsemi {
    font-weight: 600;
}

/* End font weight */

/* Card */
.main__card {
    background-color: white;
    border: 1px solid var(--green);
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 15px; */
}

/* End card */

.bggreen {
    background-color: var(--green);
}

/* Button */
.btn__white {
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: .5rem 1rem;
    text-decoration: none;
    color: var(--green);
    font-weight: 800;
    display: inline-block;
}

.btn__white:hover {
    color: var(--dark-green);
    background-color: #E1E1E1;
    transition: .3s;
    box-shadow: rgb(0, 0, 0, .5) 0px 4px 8px;
}

.btn__green {
    background-color: white;
    border: 1px solid white;
    color: var(--black);
    font-weight: bold;
}

.btn__green:hover {
    background-color: white;
    color: var(--black);
    box-shadow: rgb(3, 115, 60, .5) 0px 4px 8px;
    border-color: var(--green);
}

.btn__green2 {
    background-color: var(--green);
    border-color: var(--dark-green);
}

.btn__green2:hover {
    background-color: var(--dark-green);
    border-color: var(--dark-green);
    box-shadow: rgb(3, 115, 60, .5) 0px 4px 8px;
}

.btn__green2:active {
    background-color: var(--dark-green) !important;
    border: none;
}

.btn__green2:focus-visible {
    background-color: var(--dark-green);
    box-shadow: none;
    border: none;
}

.btn__delete {
    color: #DC3545;
    border: none;
}

/* End button */

/* Table */
.table__container {
    border: 1px solid var(--green);
    border-radius: 10px;
    padding: .75rem;
}

thead tr th {
    font-weight: bold;
}

/* Pagination */
div.table-responsive>div.dataTables_wrapper>div.row:last-child {
    margin-top: .75rem !important;
}

div.table-responsive>div.dataTables_wrapper>div.row:last-child>div:first-child {
    margin-bottom: .5rem;
}

/* Show and search */
div.table-responsive>div.dataTables_wrapper>div.row:first-child {
    margin-bottom: .75rem !important;
}

div.table-responsive>div.dataTables_wrapper>div.row:first-child>div:first-child {
    margin-bottom: .5rem;
}

table thead {
    border-bottom: 1px solid lightslategray !important;
}

table tbody tr {
    border-bottom: 1px solid var(--light);
}

table .urutan {
    text-align: center !important;
}

.paginate_button.page-item.active a {
    border-radius: 50%;
    background-color: var(--green);
    color: white;
    border-color: var(--dark-green);
}

.paginate_button.page-item.active a:hover {
    color: white;
}

.paginate_button.page-item a {
    color: var(--grey);
    margin: .25rem;
    border: none;
}

.paginate_button.page-item a:focus {
    box-shadow: none;
}

.paginate_button.current:hover {
    background-color: var(--green) !important;
    border-color: white;
    color: white !important;
    transition: .3s;
}

/* Breakpoint show and search */
div.table-responsive>div.dataTables_wrapper>div.row:last-child>div {
    width: 100%;
}

div.table-responsive>div.dataTables_wrapper>div.row:last-child>div>div {
    text-align: center;
    color: var(--grey);
}

div.table-responsive>div.dataTables_wrapper>div.row:last-child>div:last-child ul {
    justify-content: center;
}

/* End reakpoint show and search */


/* End table */

/* Form */
form input {
    border-color: var(--grey) !important;
}

form input:focus {
    box-shadow: none !important;
    border: 1px solid var(--green) !important;
    transition: .8s;
}

/* End form */

/* Navbar */
nav {
    background-color: var(--green);
}

nav .logo {
    width: 50px;
}

nav .nav-item a {
    color: var(--light);
}

nav .nav-item a:hover {
    color: white;
}

nav .nav-item a:focus {
    color: white;
}

nav .active {
    color: white !important;
}

nav .dropdown button {
    background-color: unset !important;
    border: none !important;
    color: var(--light);
}

nav button {
    border-color: white !important;
}

nav button:focus {
    border-color: white;
    box-shadow: none !important;
}

nav button path {
    color: white;
}

.navback a:hover {
    color: var(--green);
}

/* End navbar */

/* Header */
.header span {
    width: 30px;
    height: 2.5px;
    background-color: var(--green);
}

/* End header */

/* Footer */
footer {
    position: sticky;
    top: 100%;
    margin-top: 6rem;
}

/* End footer */

/* ================ Responsive ================ */

/* Mobile */
@media only screen and (min-width: 576px) {
    nav>div:first-child {
        width: 75% !important;
    }

    .navbar-brand h5 {
        display: inline !important;
    }

    .table__container {
        padding: 1.5rem 2.5rem;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }

    h6 {
        font-size: 16px;
    }

    .wx {
        width: 60%;
    }

    .mt1 {
        margin-top: 3rem;
    }

    div.table-responsive>div.dataTables_wrapper>div.row:first-child>div:first-child {
        margin-bottom: 0;
    }

    div.table-responsive>div.dataTables_wrapper>div.row:last-child>div:first-child {
        margin-bottom: 0;
    }
}

/* Large */
@media only screen and (min-width: 992px) {

    /* Breakpoint show and search */
    div.table-responsive>div.dataTables_wrapper>div.row:last-child>div {
        width: 41.66666667%;
    }

    div.table-responsive>div.dataTables_wrapper>div.row:last-child {
        justify-content: space-between;
    }

    div.table-responsive>div.dataTables_wrapper>div.row:last-child>div>div {
        text-align: start;
    }

    div.table-responsive>div.dataTables_wrapper>div.row:last-child>div:last-child ul {
        justify-content: flex-end;
    }
}

/* Desktop */
@media only screen and (min-width: 1200px) {
    nav .nav-item a {
        padding: .5rem 2rem !important;

    }
}
